#cover {
    background: #222 url('../img/back1.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    /*align-items: center;*/
    padding-top: 7em;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

#navigation {
    width: 100%;
    z-index: 1;
    position: fixed;
}

#add {
    margin-bottom: -4em;
    margin-right: 0.5em;
}

#content {

    height: 100%;
    /*left: 0;
    position: absolute;
    top: 0;*/
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    /*z-index: -1;*/
    border-radius: 10px;
}

.table-borderless tr {
    border: 0;
}












